<html>
<head>
</head>
<body>

<h3>Checkout</h3>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<h3>Flight Number: {{flight_num}}</h3>

	<h3>Price: {{flight_price}}</h3>

<form action="/agent_insert_purchase" method="POST">
	<label for="customer_username">Please enter customer username</label></br>
	<input type="text" name = "customer_username" placeholder="username" value={{data}} > </br>
	<input type="hidden" name="flight_price" value ={{flight_price}}>
	<input type="hidden" name="flight_num" value ={{flight_num}}>
	<input type="submit" value ="Confirm purchase" />


</form>
<a href="/home">Go back</a>
<a href="/logout">Logout</a>
</body>


</html>