<html>
<head>
</head>
<body>
<h3>Welcome {{account_type}} - {{username}}</h3>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<h2>Search for flights</h2>
<form action="/agent_search" method="POST">
	<input type="text" name = "dept_airport" placeholder="departure airport" value=''/> 
	<input type="text" name = "arrival_airport" placeholder="arrival airport" value=''/>
	<input type="text" name = "dept_time" placeholder="departure time" value=''/>
	<label> <for="min_date">Min Date:</label>
	<input type="date" name = 'min_date' placeholder="earliest date" value=''>
	<label> <for="max_date">Max Date:</label>
	<input type="date" name = 'max_date' placeholder="latest date" value=''>
	<input type="submit" value = Search />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<h3>Purchased Flights Search Results</h3>
<table>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Dep Airport</th>
	<th>Arrival Airport</th>
	<th>Ticket ID</th>
	<th>Customer Email</th>
	<th>Purchase Date</th>
	<th>Status</th>


{% for line in purchased_flights %}
	<tr>
		<td>{{line[0]}}</td>
		<td>{{line[1]}}</td>
		<td>{{line[2]}}</td>
		<td>{{line[4]}}</td>
		<td>{{line[9]}}</td>
		<td>{{line[10]}}</td>
		<td>{{line[12]}}</td>
		<td>{{line[7]}}</td>
	</tr>
{% endfor %}

<a href="/logout">Logout</a>

</body>


</html>