<html>
<head>
</head>
<body>

<h3>Create new flight</h3>
<h4>{{error}}</h4>
<form action="/insert_new_flight" method="POST">
	<label>Airline Name</label>
	<input type="text" name = "airline_name" required/> </br>
	<label>Flight Number</label>
	<input type="number" name = "flight_num"  required/></br>
	<label>Departure Airport</label>
	<input type="text" name = "departure_airport" required/> </br>
	<label>Departure Time</label>
	<input type="datetime-local" step="1" name = "departure_time" required/> </br>
	<label>Arrival Airport</label>
	<input type="text" name = "arrival_airport" required/> </br>
	<label>Arrival Time</label>
	<input type="datetime-local" step="1" name = "arrival_time" required/> </br>
	<label>Price</label>
	<input type="number" name = "price" required/> </br>
	<label>Status</label>
	<input type="text" name = "status"  required/> </br>
	<label>Airplane ID</label>
	<input type="number" name = "airplane_id" required/> </br>
	<input type="submit" value = Create />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
	

<a href="/home">Go back</a>

</body>


</html>