<html>
<head>
</head>
<body>

<h3>Create new airplane</h3>
<h4>{{error}}</h4>
<form action="/insert_new_airplane" method="POST">
	<label>Airline Name</label>
	<input type="text" name = "airline_name" required/> </br>
	<label>Airplane ID</label>
	<input type="number" name = "airplane_id"  required/></br>
	<label>Number of Seats</label>
	<input type="number" name = "seats" required/> </br>
	<input type="submit" value = Create />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
	

<a href="/home">Go back</a>

</body>


</html>