<html>
<head>
</head>
<body>

<h3>All customers of flight {{flight_num}} </h3>
<!--
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
	<input type="text" name = "blog" placeholder="your post" required/> </br>
	<input type="submit" value = Post />
</form>
-->
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<h3>Customers</h3>
<table>
	<th>Customer email</th>
{% for line in customers %}
	<tr>
		<td>{{line[0]}}</td>
	</tr>
{% endfor %}
</table>

<h3>Search my flights</h3>
<form action="/staff_search" method="POST">
	<input type="text" name = "dept_airport" placeholder="departure airport" value=''/> 
	<input type="text" name = "arrival_airport" placeholder="arrival airport" value=''/>
	<input type="text" name = "dept_time" placeholder="departure time" value=''/>
	<label> <for="min_date">Min Date:</label>
	<input type="date" name = 'min_date' placeholder="earliest date" value=''>
	<label> <for="max_date">Max Date:</label>
	<input type="date" name = 'max_date' placeholder="latest date" value=''>
	<input type="submit" value = Search />
</br>
</br><a href="/create_new_flight">Create new flight</a></br>
<a href="/create_new_airport">Create new airport</a></br>
<a href="/create_new_airplane">Create new airplane</a></br>
<a href='/home'>Home</a></br>
<a href="/logout">Logout</a></br>

</body>


</html>